<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <a href="/">
      <img src="images/mcslogo1924_2024-alpha.png" alt="MCS Logo" class="banner-logo">
    </a>
      </br>
        <a href="{{ site.baseurl }}/" class="btn">HOME</a>
        <a href="{{ site.baseurl }}/join-us" class="btn">JOIN US</a>
        <a href="{{ site.baseurl }}/exec-team" class="btn">EXEC TEAM</a>
        <a href="{{ site.baseurl }}/about-us" class="btn">ABOUT US</a>
        <a href="{{ site.baseurl }}/faq" class="btn">FAQ</a>
        <a href="https://www.youtube.com/McGillChoralSociety/videos" class="btn">VIDEOS</a>
        <a href="{{ site.baseurl }}/support-mcs" class="btn">SUPPORT MCS</a>
        <a href="{{ site.baseurl }}/contact-us" class="btn">CONTACT US</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">Copyright © McGill Choral Society, 2012 - 2024. All rights reserved.</span>
      </footer>
    </main>
  </body>
</html>
